apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: push-argocd-config-json
  namespace: kube-system
spec:
  refreshInterval: 10m
  secretStoreRefs:
    - name: doppler-cloud-oci-creds
      kind: ClusterSecretStore
  selector:
    secret:
      name: argocd-manager-token
  template:
    data:
      OKE_ZEUS_PROD_ARGOCD_MANAGER: |
        {
          "bearerToken": "{{ .token }}",
          "tlsClientConfig": {
            "insecure": false,
            "caData": "{{ index . "ca.crt" | b64enc }}"
          }
        }
  data:
    - match:
        secretKey: OKE_ZEUS_PROD_ARGOCD_MANAGER
        remoteRef:
          remoteKey: OKE_ZEUS_PROD_ARGOCD_MANAGER