# Global configurations
global:

  # Affinity
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: "node-pool"
                operator: In
                values:
                  - default-pool

# Resource limits
resources:
  requests:
    cpu: "50m"
    memory: "64Mi"

webhook:
  create: true

  resources:
    requests:
      cpu: "75m"
      memory: "64Mi"

certController:
  create: true
  resources:
    requests:
      cpu: "50m"
      memory: "64Mi"