apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    releaseName: external-secrets
    version: 1.2.0
    namespace: es
    includeCRDs: true
    valuesFile: values-mgmt.yaml