apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.2.4
    releaseName: argocd
    namespace: argocd
    additionalValuesFiles:
      - values-mgmt.yaml