name: Deploy Core Apps

on: push

# on:
#     push:
#         branches:
#             - main
#             - dev
#             - staging
#             - feature/*
#             - fix/*
#             - hotfix/*
#             - release/*
#         paths:
#             - "core/**"
#     pull_request:
#         branches:
#             - main
#         paths:
#             - "core/**"
#     workflow_dispatch:

jobs:
    setup-and-deploy:
        # Provide Doppler API key to the job
        secrets:
            doppler_api_key: ${{ secrets.DOPPLER_API_KEY }}

        uses: mervinhemaraju/workflows/.github/workflows/job-pf-session-finder.yaml@feature/setup
        with:
            cloud_account_name: "helios"
            target_ssh_ip_address: ""

    # deploy:
    #     needs: setup-and-deploy
    #     runs-on: ubuntu-latest
    #     steps:
    #         - name: Checkout code
    #           uses: actions/checkout@v4

    #         - name: Deploy application
    #           run: |
    #               echo "Tools are now installed and ready to use"
    #               # Add your deployment steps here
    #               # kubectl apply -f ...
    #               # helm upgrade ...
